<div class="jumbotron rounded-0">
  <h2><small>Ui Component</small><br>Input Field</h2>
</div>
<div class="px-4">
  <div class="card-deck">
    <div class="card">
      <div class="card-block">
        <app-input [placeholder]="myPlaceholder" [label]="myLabel" [helpText]="myHelpText" [(value)]="myValue"></app-input>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Output:</td>
              <td><span *ngIf="myValue">{{myValue}}</span><span *ngIf="!myValue"><em>empty</em></span></td>
            </tr>
            <tr>
              <td scope="row">Label:</td>
              <td><input class="form-control" [(ngModel)]="myLabel"></td>
            </tr>
            <tr>
              <td scope="row">Placeholder:</td>
              <td><input class="form-control" [(ngModel)]="myPlaceholder"></td>
            </tr>
            <tr>
              <td scope="row">HelpText:</td>
              <td><input class="form-control" [(ngModel)]="myHelpText"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>