<div class="container-main">
  <div class="container-menu">
    <div class="container-content--title">

    </div>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/{{item.path}}" routerLinkActive="active" *ngFor="let item of routes"
        [ngClass]="{'invisible': item.path === '**'}">{{item.path}}Component</a>
    </div>
  </div>
  <div class="container-content">
    <div class="container-content--title">

    </div>
    <div class="container-content--outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>