<app-select [selection]="selection"></app-select>
<app-input [placeholder]="placeholder" label="Hallo Label"></app-input>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h2>Navigation</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of selection">
          {{item.id}}: {{item.name}} ({{item.age}})
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>