<h2>Input Component</h2>
<div class="card-deck">
  <div class="card">
    <div class="card-block">
      <app-select [label]="myLabel" [helpText]="myHelpText" [selection]="mySelection" [(value)]="myValue"></app-select>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Input:</td>
            <td>
              <pre class="mb-0">
                <code>
                  {{mySelection | json}}
                </code>
              </pre>
            </td>
          </tr>
          <tr>
            <td scope="row">Output:</td>
            <td><span *ngIf="myValue">{{mySelection | keyValue: myValue}}</span><span *ngIf="!myValue"><em>empty</em></span></td>
          </tr>
          <tr>
            <td scope="row">Label:</td>
            <td><input class="form-control" [(ngModel)]="myLabel"></td>
          </tr>
          <tr>
            <td scope="row">HelpText:</td>
            <td><input class="form-control" [(ngModel)]="myHelpText"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
